.layout {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content {
  display: flex;
  gap: 8px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 4px;

  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.item:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.img {
  font-size: 48px;
}